
@{
    ViewBag.Title = "Identity User Role Management";
}

<div style="text-align:center; font-weight:bold; font-size: 72px;">
    Admin do Viseu Car Renting<br />
    <span style="color:green">Criado com sucesso!</span>
</div>
