@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Viseu Car eRenting</h1>
    <p class="lead">Viseu car eRenting is one of the first available options of renting cars in the district of Viseu, just one click away!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Our catalog&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ver catálogo de produtos</h2>
        <p>
            Ver os nossos veiculos e preçários, ou simplesmente registar-se!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Ver catalogo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Registar como cliente</h2>
        <p>Para efetuar reservas!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Registar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Registar como empresa de Renting</h2>
        <p>Pode registar aqui a sua empresa de renting!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Registar empresa &raquo;</a></p>
    </div>
</div>