@model Projeto2020.Models.ReservaViewModel

@{
    ViewBag.Title = "Entregar o veiculo";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CarroId)
    @Html.HiddenFor(model => model.CategoriaVeiculo)
    @Html.HiddenFor(model => model.ReservaViewModelId)

<div class="form-horizontal">
    <h2>Confirmar entrega do veiculo</h2>
    <h3>De certeza que quer entregar o seu veiculo antes da data estipulada?</h3>
</div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Entregar" class="btn btn-default" />
            </div>
        </div>

}
